@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "Noto Sans SC", system-ui, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #333;
  color: #eee;
}

input::placeholder {
  font-weight: 300;
  color: #555;
}
